@import '/src/styles.scss';

.container-fluid {
  height: 100%;
}

.col-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting-card {
  width: 544px;
  padding: 8px;
  margin-bottom: 11rem;

  .card-header {
    background-color: $primary-light-color;
    color: #fff;
    font-weight: bold;
  }
}