<div class="container">
  <div class="row">
    <div class="col">
      <div class="img-wrapper">
        <img
          src="../../../../assets/images/background-small.png"
          height="500"
          width="500"
        />
      </div>
      <carousel>
        <slide>
          <div class="text-center py-5 text-dark">
            <h3>Track</h3>
            <div class="lead">
              <p>Управляй своим временем</p>
            </div>
          </div>
        </slide>
        <slide>
          <div class="text-center py-5 text-dark">
            <h3>Активности</h3>
            <div class="lead">
              <p>Веди учет своих активностей</p>
            </div>
          </div>
        </slide>
        <slide>
          <div class="text-center py-5 text-dark">
            <h3>Сессии</h3>
            <div class="lead">
              <p>Создавай сессии. Делись ими с друзьями. Следи сколько времени ты тратишь на Dota 2</p>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
    <div class="col right-col">
      <div class="wrapper"><ng-content></ng-content></div>
    </div>
  </div>
</div>
