@import '/src/styles.scss';

.header {
  width: auto;
  height: 70px;

  padding: 0px 32px;

  border-bottom: 1px solid $border-light-color;

  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.main {
  height: 100%;
}

.main-background {
  background-image: url('../../assets/images/background.png');
  background-size: contain;
  background-position: center;
}