@import '/src/styles.scss';

.container {
  margin-top: 6rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.td-actions {
  width: 88px;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 4px;

  .btn .icon-mr {
    margin: 0;
  }
}


.red-color {
  color: $danger-dark-color;
}